@import '@styles/colors.module.scss';

.footerContainer {
  width: 100%;

  .footer {
    background-color: #228342FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .languageButtons {
    display: flex;
    gap: 10px;
  }
}
