@import '@styles/colors.module.scss';

.container {
  max-width: 100%;
  background-color: $primary;
  height: 120px;
}

.navMenu {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  margin-top: 10px;

  &.mobile {
    display: block;
  }
}

.avatar {
  padding: 0;
}

.menuIcon {
  display: flex;
  margin-right: 16px;
}

.card {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiCardContent-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.plantImage {
  width: 50px;
  height: auto;
}

.test {
  background-color: $primary-light-beige;
  width: 300px;

  &:hover {
    background-color: $primary-light;
    transition: background-color 0.4s ease;

  }
}
